/results/
/writing/

/data/BS_Laura/BS_Laura_Data/
/data/HD_Squeezing/HD_Ballsqueezing/
/data/NN22_Resting_State/NN22_RS/

/data/HD_Squeezing/Adot/
/data/BS_Laura/epochs_labels/
/data/BS_Laura/Adot/
/data/HD_Squeezing/epochs_labels/
/data/NN22_Resting_State/epochs_labels/
/data/NN22_Resting_State/Full_SynHRF_Data/
# all files named pysnirf2.log or __pycache__ folders will be ignored:
**/pysnirf2.log
**/__pycache__/


